<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602059747078-chf2pura187o8gpanjlq6dkrvf5unk5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602059747078-chf2pura187o8gpanjlq6dkrvf5unk5f</string>
	<key>API_KEY</key>
	<string>AIzaSyCznndjlE-bpUIG3sFjYAKolk_8wtYkQJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>602059747078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.digitalOrderSystem</string>
	<key>PROJECT_ID</key>
	<string>digital-order-system-8bb17</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-order-system-8bb17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602059747078:ios:5ab3876dab21be4b84b887</string>
</dict>
</plist>